.select_container{
    background-color: #ECE8E2;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.select_detail_list{
    display: flex;
    flex-direction: row;
    justify-content: start;
    border-top: solid 2px #a4a29d;
    /* border-bottom: solid 2px #D4D0CB; */
    margin-bottom: 0px;
    padding: 0px;
    text-align: center;
}


.menu-link {
    float: left;
    width: 25%;
    font-size: 18px;
    font-weight: bold;
    line-height: 60px;
    height: 60px;
    color: #a4a29d;
    cursor: pointer;
}

.menu-active {
    color: #FF8868;
}


.result_button_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    margin-top: 10px;
}

.result_button{
    width: 49%;
    height: 100%;
    background-color: #dfdcd6;
    border: solid 2px #D4D0CB;
}

.result_list{
    width: 100%;
    background-color: #f8f4ed;
    border: solid 2px #D4D0CB;
    margin-top: 10px;
}

.result_menu{
    padding: 4%;
}

.result_menu li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px 15px 0px ;
    margin-bottom: 15px;
    border-bottom: 3px  dashed #D4D0CB;
}

.photo_info{
    width: 100px;
    height: 80px;
}

.menu_info{
    display: flex;
    flex-direction: row;
}

.menu_info_detail{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-left: 7px;
}

.menu_info  .menu_info_detail p{
    margin: 0px;
    font-size: 25px;
}

.like_info{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.save{
    cursor: pointer;
}