.question {
    background-color: #f7f4f0;
    padding: 10px;
    border-radius: 5px;
    height: 100%;
    margin-top: 20px;
}

.question input {
    background-color: #f5efe8;
    box-shadow: 2px 2px 1px 1px #D4D0CB;
    font-size: 16px;
    width: 100%;
    outline: none;
    border: none;
    margin: 0;
}

.question input:focus {
    outline: none;
}

.question textarea {
    background-color: #f5efe8;
    box-shadow: 2px 2px 1px 1px #D4D0CB;
    margin: 5px 0px;
    width: 100%;
    resize: none;
    min-height: 32px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 24px;
}

.question textarea:focus {
    outline: none;
}

.question button {
    background-color: #f5efe8;
    box-shadow: 2px 2px 1px 1px #D4D0CB;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
.question button:hover {
    background-color: #f5efe8;
    box-shadow: 2px 2px 1px 1px #D4D0CB;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-btn {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
}

.toggle-btn:before {
    content: "+";
    font-size: 10px;
    color: #fff;
    line-height: 20px;
}

.toggle-btn.active:before {
    content: "-";
}

.accordion-content {
    display: none;
    padding: 10px;
    margin-top: 10px;
}

.accordion-item.active .accordion-content {
    display: block;
}