.savelist_box{
    background-color: #ECE8E2;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.savelist{
    width: 100%;
    background-color: #f8f4ed;
    border: solid 2px #D4D0CB;
    margin-top: 10px;
    text-align: center;
    padding: 0px;
}

li{
    padding: 0px 0px 15px 0px ;
    margin-bottom: 15px;
    border-bottom: 3px  dashed #D4D0CB;
}

.savelist{
    padding: 4%;
}

.savelist h2{
    padding: 0px;
}

.menu_info{
    display: flex;
    flex-direction: row;
}

.photo_info{
    width: 100px;
    height: 100%;
    margin-right: 10px;
}

.menu_info_textbox{
    width: calc(100% - 110px);

}

.menu_info_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
}

.save_text_list{
    display: flex;
    flex-direction: row;
}

.menu_info_bottom{
    width: 100%;
}

.textarea{
    background-color: #f5efe8;
    box-shadow: 2px 2px 1px 1px #D4D0CB;
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 24px;
}

.save_txt{
    margin-right: 5px;
}