{% extends 'base.html' %}
        
{% block content %}
<div class="select_container">
    <div class="select_list">
        <ul class="select_detail_list">
            <li>아무거나</li>
            <li>면</li>
            <li>밥</li>
            <li>빵</li>
        </ul>
    </div>
    <div class="select_list">
        <ul class="select_detail_list">
            <li>아무거나</li>
            <li>국물 많이</li>
            <li>국물 쪼금</li>
            <li>국물 없음</li>
        </ul>
    </div>
    <div class="select_list">
        <ul class="select_detail_list">
            <li>아무거나</li>
            <li>매움</li>
            <li>보통</li>
            <li>순함</li>
        </ul>
    </div>
    <div class="select_list">
        <ul class="select_detail_list">
            <li>아무거나</li>
            <li>Cool</li>
            <li>Hot</li>
        </ul>
    </div>
    <div class="select_list">
        <ul class="select_detail_list">
            <li>아무거나</li>
            <li>가볍게 먹기 좋음</li>
            <li>든든하게 먹고 싶음</li>
        </ul>
    </div>
</div>
<div class="result_button_list">
    <button class="result_button">
        랜덤 버튼
    </button>
    <button class="result_button">
        버튼
    </button>
</div>
<div class="Ad">
    광고
</div>
<div class="result_list">
    <ul class="result_menu">
        <li>
            <div class="photo_info">사진</div>
            <div class="menu_info">
                <a href="">메뉴 1</a>
                <div class="like_info">
                    <div>저장수</div>
                    <div>아이콘</div>
                </div>
            </li>
        </div>
    </ul>
</div>
{% endblock content %}