{% extends 'index.html' %}
{% load static %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{csrf_token}}' }
    });
</script>
{% endblock script %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock css %}

{% block content %}
{% csrf_token %}
<div class="select_container">
    <div class="select_list">
        <ul class="select_detail_list">
            <li id="main_all" class="menu-link menu-active" type='select_menu' name='selectall1' onclick='selectAll(this, 1, 3)'>아무거나</li>
            <li id="noodle" class="menu-link" type='select_menu' name='choice1' onclick='checkSelectAll(this, 1)'>면</li>
            <li id="rice" class="menu-link" type='select_menu' name='choice1' onclick='checkSelectAll(this, 1)'>밥</li>
            <li id="bread" class="menu-link" type='select_menu' name='choice1' onclick='checkSelectAll(this, 1)'>빵</li>
        </ul>
    </div>
    <div class="select_list">
        <ul class="select_detail_list">
            <li id="soup_all" class="menu-link menu-active" type='select_menu' name='selectall2' onclick='selectAll(this, 2, 3)'>아무거나</li>
            <li id="yes" class="menu-link" type='select_menu' name='choice2' onclick='checkSelectAll(this, 2)'>국물 많이</li>
            <li id="little" class="menu-link" type='select_menu' name='choice2' onclick='checkSelectAll(this, 2)'>국물 쪼금</li>
            <li id="no" class="menu-link" type='select_menu' name='choice2' onclick='checkSelectAll(this, 2)'>국물 없음</li>
        </ul>
    </div>
    <div class="select_list">
        <ul class="select_detail_list">
            <li id="Spicy_all" class="menu-link menu-active" type='select_menu' name='selectall3' onclick='selectAll(this, 3, 3)'>아무거나</li>
            <li id="spicy" class="menu-link" type='select_menu' name='choice3' onclick='checkSelectAll(this, 3)'>매움</li>
            <li id="normal" class="menu-link" type='select_menu' name='choice3' onclick='checkSelectAll(this, 3)'>보통</li>
            <li id="mild" class="menu-link" type='select_menu' name='choice3' onclick='checkSelectAll(this, 3)'>순함</li>
        </ul>
    </div>
    <div class="select_list">
        <ul class="select_detail_list">
            <li id="temperature_all" class="menu-link menu-active" type='select_menu' name='selectall4' onclick='selectAll(this, 4, 3)'>아무거나</li>
            <li id="cool" class="menu-link" type='select_menu' name='choice4' onclick='checkSelectAll(this, 4)'>Cool</li>
            <li id="warm" class="menu-link" type='select_menu' name='choice4' onclick='checkSelectAll(this, 4)'>Warm</li>
            <li id="hot" class="menu-link" type='select_menu' name='choice4' onclick='checkSelectAll(this, 4)'>Hot</li>
        </ul>
    </div>
    <div class="select_list">
        <ul class="select_detail_list">
            <li id="weight_all" class="menu-link menu-active" type='select_menu' name='selectall5' onclick='selectAll(this, 5, 2)'>아무거나</li>
            <li id="light" class="menu-link" type='select_menu' name='choice5' onclick='checkSelectAll(this, 5)'>가벼움</li>
            <li id="heavy" class="menu-link" type='select_menu' name='choice5' onclick='checkSelectAll(this, 5)'>든든함</li>
        </ul>
    </div>
</div>


<div class="result_button_list">
    <button class="result_button" id="random_button">
        랜덤 버튼
    </button>
    <button class="result_button" id="normal_button">
        버튼
    </button>
</div>

{% if 'random_food_list' in request.COOKIES %}
<div class="result_list">
    <ul class="result_menu">
        {% if selected_food_list %}
            {% for selected_food_lst in selected_food_list %}
                <li>
                    <div class="menu_info">
                        <img class="photo_info" src="media/{{ selected_food_lst.image }}" alt="">
                        <div class="menu_info_detail">
                            <p>
                                {{ selected_food_lst.name }}
                            </p>
                            <div class="save_info">
                                <div id="save_info_detail_{{selected_food_lst.food_id}}">
                                    {{selected_food_lst.save_count}}명이 {{ selected_food_lst.name }}을 저장하였습니다.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span id="save_{{selected_food_lst.food_id}}" food_id="{{selected_food_lst.food_id}}" class="save">
                            {% if selected_food_lst.is_saved %}저장됨{% else %}저장{% endif %}
                        </span>
                    </div>
                </li>
            {% endfor %}
        {% else %}
            <h2>검색결과가 없습니다</h2>
        {% endif %}
    </ul>
</div>
{% else %}
{% endif %}


{% endblock content %}

{% block javascript %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock javascript %}