{% extends 'index.html' %}
{% load static %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{csrf_token}}' }
    });
</script>
{% endblock script %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock css %}

{% block content %}
{% csrf_token %}
<div class="select_container">
    <div class="select_list">
        <ul class="select_detail_list">
            <li id="main_all" class="menu-link select_main menu-active" type='select_main' name='selectall1' onclick='selectAll1(this)'>아무거나</li>
            <li id="noodle" class="menu-link select_main" type='select_main' name='choice1' onclick='checkSelectAll1(this)'>면</li>
            <li id="rice" class="menu-link select_main" type='select_main' name='choice1' onclick='checkSelectAll1(this)'>밥</li>
            <li id="bread" class="menu-link select_main" type='select_main' name='choice1' onclick='checkSelectAll1(this)'>빵</li>
        </ul>
    </div>
    <div class="select_list">
        <ul class="select_detail_list">
            <li id="soup_all" class="menu-link menu-active" type='select_menu' name='selectall2' onclick='selectAll2(this)'>아무거나</li>
            <li id="yes" class="menu-link" type='select_menu' name='choice2' onclick='checkSelectAll2(this)'>국물 많이</li>
            <li id="little" class="menu-link" type='select_menu' name='choice2' onclick='checkSelectAll2(this)'>국물 쪼금</li>
            <li id="no" class="menu-link" type='select_menu' name='choice2' onclick='checkSelectAll2(this)'>국물 없음</li>
        </ul>
    </div>
    <div class="select_list">
        <ul class="select_detail_list">
            <li id="Spicy_all" class="menu-link menu-active" type='select_menu' name='selectall3' onclick='selectAll3(this)'>아무거나</li>
            <li id="spicy" class="menu-link" type='select_menu' name='choice3' onclick='checkSelectAll3(this)'>매움</li>
            <li id="normal" class="menu-link" type='select_menu' name='choice3' onclick='checkSelectAll3(this)'>보통</li>
            <li id="mild" class="menu-link" type='select_menu' name='choice3' onclick='checkSelectAll3(this)'>순함</li>
        </ul>
    </div>
    <div class="select_list">
        <ul class="select_detail_list">
            <li id="temperature_all" class="menu-link menu-active" type='select_menu' name='selectall4' onclick='selectAll4(this)'>아무거나</li>
            <li id="cool" class="menu-link" type='select_menu' name='choice4' onclick='checkSelectAll4(this)'>Cool</li>
            <li id="hot" class="menu-link" type='select_menu' name='choice4' onclick='checkSelectAll4(this)'>Hot</li>
        </ul>
    </div>
    <div class="select_list">
        <ul class="select_detail_list">
            <li id="weight_all" class="menu-link menu-active" type='select_menu' name='selectall5' onclick='selectAll5(this)'>아무거나</li>
            <li id="light" class="menu-link" type='select_menu' name='choice5' onclick='checkSelectAll5(this)'>가볍게 먹기 좋음</li>
            <li id="heavy" class="menu-link" type='select_menu' name='choice5' onclick='checkSelectAll5(this)'>든든하게 먹고 싶음</li>
        </ul>
    </div>
</div>


<div class="result_button_list">
    <button class="result_button">
        랜덤 버튼
    </button>
    <button class="result_button">
        버튼
    </button>
</div>


<div class="result_list">
    <ul class="result_menu">
        {% block result %}
            {% for FoodList_result in FoodList_results %}
            <li>
                <br>
                <div class="photo_info">사진</div>
                <div class="menu_info">
                    <a href="">
                        FoodList_results : {{FoodList_result.name}}
                    </a>
                    <div class="like_info">
                        <div>저장수</div>
                        <div>아이콘</div>
                    </div>
                </div>
            </li>
            {% endfor %}
        {% endblock result %}
    </ul>
</div>

{% endblock content %}

{% block javascript %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock javascript %}