{% extends 'index.html' %}
{% load static %}

{% block script %}
{% endblock script %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock css %}

{% block content %}
<div class="select_container">
    <div class="select_list">
        <ul class="select_detail_list">
            <li class="menu-link menu-active" type='select_menu' name='selectall1' onclick='selectAll1(this)'>아무거나</li>
            <li class="menu-link" type='select_menu' name='choice1' onclick='checkSelectAll1(this)'>면</li>
            <li class="menu-link" type='select_menu' name='choice1' onclick='checkSelectAll1(this)'>밥</li>
            <li class="menu-link" type='select_menu' name='choice1' onclick='checkSelectAll1(this)'>빵</li>
        </ul>
    </div>
    <div class="select_list">
        <ul class="select_detail_list">
            <li class="menu-link menu-active" type='select_menu' name='selectall2' onclick='selectAll2(this)'>아무거나</li>
            <li class="menu-link" type='select_menu' name='choice2' onclick='checkSelectAll2(this)'>국물 많이</li>
            <li class="menu-link" type='select_menu' name='choice2' onclick='checkSelectAll2(this)'>국물 쪼금</li>
            <li class="menu-link" type='select_menu' name='choice2' onclick='checkSelectAll2(this)'>국물 없음</li>
        </ul>
    </div>
    <div class="select_list">
        <ul class="select_detail_list">
            <li class="menu-link menu-active" type='select_menu' name='selectall3' onclick='selectAll3(this)'>아무거나</li>
            <li class="menu-link" type='select_menu' name='choice3' onclick='checkSelectAll3(this)'>매움</li>
            <li class="menu-link" type='select_menu' name='choice3' onclick='checkSelectAll3(this)'>보통</li>
            <li class="menu-link" type='select_menu' name='choice3' onclick='checkSelectAll3(this)'>순함</li>
        </ul>
    </div>
    <div class="select_list">
        <ul class="select_detail_list">
            <li class="menu-link menu-active" type='select_menu' name='selectall4' onclick='selectAll4(this)'>아무거나</li>
            <li class="menu-link" type='select_menu' name='choice4' onclick='checkSelectAll4(this)'>Cool</li>
            <li class="menu-link" type='select_menu' name='choice4' onclick='checkSelectAll4(this)'>Hot</li>
        </ul>
    </div>
    <div class="select_list">
        <ul class="select_detail_list">
            <li class="menu-link menu-active" type='select_menu' name='selectall5' onclick='selectAll5(this)'>아무거나</li>
            <li class="menu-link" type='select_menu' name='choice5' onclick='checkSelectAll5(this)'>가볍게 먹기 좋음</li>
            <li class="menu-link" type='select_menu' name='choice5' onclick='checkSelectAll5(this)'>든든하게 먹고 싶음</li>
        </ul>
    </div>
</div>
<div class="result_button_list">
    <button class="result_button">
        랜덤 버튼
    </button>
    <button class="result_button">
        버튼
    </button>
</div>
<div class="result_list">
    <ul class="result_menu">
        <li>
            <div class="photo_info">사진</div>
            <div class="menu_info">
                <a href="">메뉴 1</a>
                <div class="like_info">
                    <div>저장수</div>
                    <div>아이콘</div>
                </div>
            </li>
        </div>
    </ul>
</div>
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock javascript %}