{% extends 'index.html' %}
{% load static %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{csrf_token}}' }
    });
</script>
{% endblock script %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/question.css' %}">
{% endblock css %}

{% block content %}
<form method="POST" >
    {% csrf_token %}
    <div class="question">
        <input type="text" name="title" value="{{ title }}"></input>
        <textarea id="textarea" name="content" rows="4">{{ content }}</textarea>
        {% csrf_token %}
        <button type="submit" name="submit" value="question_upload">
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </button>
    </div>
</form>

{% endblock content %}

{% block question %}
<div class="accordion">
    {% for Question in Questions %}
    <div class="accordion-item">
        
        <div class="accordion-header">
            <h3>{{ Question.title }}</h3>
            <button class="toggle-btn"></button>
        </div>
        <div class="accordion-content">
            <div class="accordion_author">
                <p>{{ Question.nickname}}</p>
                <div class="accordion_UD">
                <p>{{Question.created_at}}</p>
                <p>|</p>
                <p>수정</p>
                <p>|</p>
                <p>삭제</p>
                </div>
            </div>
            <pre class="question_content">{{ Question.content }}</pre>
            <pre class="question_content">{{ Question.answer }}</pre>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock question %}

{% block javascript %}
<script src="{% static 'js/question.js' %}"></script>
{% endblock javascript %}