{% extends 'index.html' %}
{% load static %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{csrf_token}}' }
    });
</script>
{% endblock script %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/recommend.css' %}">
{% endblock css %}

{% block content %}
<div class="recommend_container">
    <div>
    <form class="img_upload_box" method="post" enctype="multipart/form-data">
        <div class="preview">
            <p class="img_upload_area"></p>
        </div>
        <div>
            <div>
                <input type="file" id="image_uploads" name="image_uploads" accept=".jpg, .jpeg, .png" multiple>
                <p class="img_upload_text"><label for="image_uploads">이미지는 선택사항입니다. (PNG, JPG)</label></p>
            </div>
            <div class="recommend_name_box">
                <input class="recommend_name" type="text">
            </div>
        </div>
    </form>
    </div>
    <div class="recommend_list">
        <select class="recommend_select" name="main">
            <option value="">메인분류</option>
            <option value="rice">밥</option>
            <option value="bread">빵</option>
            <option value="noodle">면</option>
        </select>
        <select class="recommend_select" name="soup">
            <option value="">국물 여부</option>
            <option value="yes">국물 많이</option>
            <option value="little">국물 조금</option>
            <option value="no">국물 없음</option>
        </select>
        <select class="recommend_select" name="Spicy">
            <option value="">맵기</option>
            <option value="spicy">매움</option>
            <option value="normal">보통</option>
            <option value="mild">순함</option>
        </select>
        <select class="recommend_select" name="temperature">
            <option value="">온도</option>
            <option value="cool">차가움</option>
            <option value="warm">따뜻함</option>
            <option value="hot">뜨거움</option>
        </select>
        <select class="recommend_select" name="weight">
            <option value="">부담감</option>
            <option value="light">가벼움</option>
            <option value="heavy">든든함</option>
        </select>
        <button class="recommend_select" onclick="sendData()">
            {% csrf_token %}
            추천하기
        </button>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/recommend.js' %}"></script>
{% endblock javascript %}