{% extends 'index.html' %}
{% load static %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{csrf_token}}' }
    });
</script>
{% endblock script %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/find_account.css' %}">
{% endblock css %}

{% block ad1 %}
{% endblock ad1 %}

{% block account_info %}
<div class="findaccount_container">
    <form class="findaccount_form" method="POST">
        <h3>비밀번호 변경</h3>
        <div>아이디는 가입하신 이메일과 동일합니다.</div>
        <div class="change_password_info">이메일</div>
        <input class="join_info_input" type="email" name="email" readonly value="{{email}}">
        <div class="change_password_info">새 비밀번호</div>
        <input class="join_info_input" type="password" name="password" required value="{{password}}">
        <div class="change_password_info">비밀번호 재확인</div>
        <input class="join_info_input" id="change_password_info_last" type="password" name="confirm_password" required value="{{confirm_password}}">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% csrf_token %}
        <button class="change_password_input" id="change_password_button" type="submit" name="submit" value="change_password">비밀번호 변경</button>
    </form>
    <div class="info_find_warp">
        <a class="info_find" href="/findid">아이디 찾기</a>
        <div class="info_find">|</div>
        <a class="info_find" href="/findpassword">비밀번호 찾기</a>
        <div class="info_find">|</div>
        <a class="info_find" href="/join">회원가입</a>
    </div>
</div>
{% endblock account_info %}