{% extends 'index.html' %}
{% load static %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{csrf_token}}' }
    });
</script>
{% endblock script %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/find_account.css' %}">
{% endblock css %}

{% block ad1 %}
{% endblock ad1 %}

{% block account_info %}
<div class="findaccount_container">
    <form class="findaccount_form" action="/find_account" method="POST">
        <h3>아이디 찾기</h3>
    </form>
</div>
{% endblock account_info %}