{% extends 'index.html' %}
{% load static %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{csrf_token}}' }
    });
</script>
{% endblock script %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock css %}

{% block ad1 %}
{% endblock ad1 %}

{% block account_info %}
<div class="login_container">
    <form class="login_form" method="post">
        <h3>로그인</h3>
        <div class="login_box">
            <div class="input_login">
                <div class="input_login_id_box">
                    {{ form.username }}
                </div>
                <div class="input_login_password_box">
                    {{ form.password }}
                </div>
            </div>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="login_button_box">
        {% csrf_token %}
        <button class="login_button" type="submit">Login</button>
        </div>
        <div class="social_login_box">
            <div class="social_login_button_naver">네이버로 로그인</div>
            <div class="social_login_button_kakao">카카오로 로그인</div>            
            <div class="social_login_button_google">구글로 로그인</div>
        </div>
    </form>
    <div class="info_find_warp">
        <a class="info_find" href="/findid">아이디 찾기</a>
        <div class="info_find">|</div>
        <a class="info_find" href="/findpassword">비밀번호 찾기</a>
        <div class="info_find">|</div>
        <a class="info_find" href="/join">회원가입</a>
    </div>
</div>
{% endblock account_info %}

