{% extends 'index.html' %}
{% load static %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="form_group">
            <label for="id_password">현재 비밀번호</label>
            <input class="form_control" id="id_password" type="password" name="password" required>
        </div>
        <div class="form_group">
            <label for="id_password">새 비밀번호</label>
            <input class="form_control" id="id_password" type="password" name="newpassword" required>
        </div>
        <div class="form_group">
            <label for="id_password_check">새 비밀번호 재확인</label>
            <input class="form_control" id="id_password_check" type="password" name="confirm_newpassword" required>
        </div>
        {% if request.user == user %}
            {% csrf_token %}
            <button class="btn_save" type="submit" name="submit" value="btn_save">저장</button>
            <button class="btn_delete" type="submit" name="submit" value="btn_delete">회원 탈퇴</button>
        {% endif %}
    </form>
{% endblock content %}
