<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <!-- 페이지 별 타이틀 공간 -->
        {% block title %}
        <title>Django-Tutorial</title>
        {% endblock title %}

        <!-- 페이지 별 메타 데이터 공간 -->
        {% block meta %}
        {% endblock meta %}

        <!-- 페이지 별 스크립트 공간 -->
        {% block script %}
        {% endblock script %}

        <!-- 페이지 별 스크립트 공간 -->
        {% block css %}
        {% endblock css %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/base_w.css' %}">

    </head>
    <body>
        {% block nav %}
        <nav class="navbar">
            <div class="navbar_top">
                <div class="navbar_top_container">
                    <div class="navbar_detail">
                        <div class="navbar_log_description">오늘의 밥</div>
                    </div>
                    <div class="navbar_detail">
                        <div class="navbar_save_text">저장</div>
                        <div class="navbar_login_text">로그인</div>
                    </div>
                </div>
            </div>
            <div class="navbar_bottom">
                <div class="navbar_bottom_container">
                    <div class="navbar_detail">
                        <div class="navbar_log_name">O-Bab</div>
                    </div>
                    <div class="navbar_detail_col">
                        <div class="navbar_detail_col_text">바탕화면에 추가</div>
                        <div class="navbar_detail_col_text">북마크에 추가</div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="navbar_category">
            navbar_category
        </div>
        {% endblock nav %}
        
        
        <div class="main_container">
        {% block content %}
        {% endblock content %}
        </div>
        
        </body>
</html>