<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <!-- 페이지 별 타이틀 공간 -->
        {% block title %}
        <title>Django-Tutorial</title>
        {% endblock title %}

        <!-- 페이지 별 메타 데이터 공간 -->
        {% block meta %}
        {% endblock meta %}

        <!-- 페이지 별 스크립트 공간 -->
        {% block script %}
        {% endblock script %}

        <!-- 페이지 별 스크립트 공간 -->
        {% block css %}
        {% endblock css %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/base_w.css' %}">

    </head>
    <body>
        {% block nav %}
        <nav class="navbar">
            <div class="navbar_up">
                네비바 상단
            </div>
            <div class="navbar_down">
                네비바 하단
            </div>
            <div class="navbar_description">
                설명
            </div>
        </nav>  
        {% endblock nav %}
        
        {% block content %}
        <div class="main_container">
            <div class="select_container">
                <div class="select_list">리스트1</div>
                <div class="select_list">리스트1</div>
                <div class="select_list">리스트1</div>
                <div class="select_list">리스트1</div>
                <div class="select_list">리스트1</div>
            </div>
            <div class="result_button_list">
                <button class="result_button">
                    랜덤 버튼
                </button>
                <button class="result_button">
                    버튼
                </button>
            </div>
            <div class="result_container">
                결과 값
            </div>
        </div>
        {% endblock content %}
        </body>
</html>