<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <!-- 페이지 별 타이틀 공간 -->
        {% block title %}
        <title>오늘의 밥</title>
        {% endblock title %}

        <!-- 페이지 별 스크립트 공간 -->
        {% block script %}
        {% endblock script %}

        <!-- 페이지 별 메타 데이터 공간 -->
        {% block meta %}
        {% endblock meta %}

        <!-- 페이지 별 CSS 공간 -->
        {% block css %}
        {% endblock css %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>
    <body>
        {% block nav %}
        <nav class="navbar">
            <div class="navbar_top">
                <div class="navbar_top_container">
                    <div class="navbar_detail">
                        <div class="navbar_log_description">오늘의 밥</div>
                    </div>
                    <div class="navbar_detail">
                        <div class="navbar_save_text">저장</div>
                        <div class="navbar_login_text">로그인</div>
                    </div>
                </div>
            </div>
            <div class="navbar_bottom">
                <div class="navbar_bottom_container">
                    <div class="navbar_detail">
                        <div class="navbar_log_name">O-Bab</div>
                    </div>
                    <div class="navbar_detail_col">
                        <div class="navbar_detail_col_text">앱 다운로드</div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="navbar_category">
            <div class="category_text"><a href="/">Home</a></div>
            <div class="category_text"><a href="/recommend">메뉴 추천 하기</a></div>
            <div class="category_text"><a href="/question">문의하기</a></div>
        </div>
        {% endblock nav %}
        
        <div class="Ad">
            <div class="Ad_box">광고</div>
        </div>

        <div class="main_container">
        {% block content %}
        {% endblock content %}
        </div>

        <div class="Ad2">
            <div class="Ad2_box">광고</div>
        </div>


        <!-- 페이지 별 자바스크립트 공간 -->
        {% block javascript %}
        {% endblock javascript %}
    </body>
</html>